{{ define "main" }}
<section id="content">
    <h1>
        {{ .Title }}
        
        {{/*  {{ if eq .Page.RelPermalink "/posts/" }} &bull;
        <a href="/tags">Tags</a> {{ else if eq .Page.RelPermalink "/tags/" }}
        &bull; Sort by <a class="link" href="/posts">Posts</a>
        {{ end }}  */}}
    </h1>
    {{ .Content }}
</section>
<section id="list">
    <ul reversed class="posts__list">
        {{ if eq .Pages.Len 0 }} I haven't posted anything yet! {{ else }} {{
        range .Pages }}
        <li>
            <a class="link" href="{{ .Permalink }}" title="{{ .Title }}"
                >{{ .Title }}
            </a>
            <hr />
            <time datetime="{{ dateFormat "01/02/2006" .Date }}">
                <p class="text">{{ dateFormat "01/02/2006" .Date }}</p>
            </time>
        </li>
        {{ end }} {{ end }}
    </ul>
</section>
{{ end }}
