{{ define "main" }}
<div class="container__profile">
    <img src="/img/picture.jpg" class="img__profile" alt="Picture of Ahmer" />
    <section id="content">{{ .Content }}</section>
</div>
<span onclick="location.href = '/about';" id="led" ></span>
{{ if gt (len ( where .Site.RegularPages "Section" "posts" )) 0 }}
<section id="list">
    <h1>Latest</h1>
    <ul reversed class="posts__list">
        {{ range (first 3 (where .Site.RegularPages "Section" "posts"
        ).ByDate.Reverse) }}
        <li>
            <a class="link" href="{{ .Permalink }}" title="{{ .Title }}"
                >{{ .Title }}
            </a>
            <hr />
            <em
                ><time datetime="{{ dateFormat "02/01/2006" .Date }}"
                    >{{ dateFormat "02/01/2006" .Date }}</time
                ></em
            >
        </li>
        {{ end }}
    </ul>
    {{ end }}
</section>
{{ end }}
