main {
    position: relative;

    & > article {
        margin: 0;

        & > * {
            margin: 20px auto 0;
        }

        figure {
            width: 100%;
            text-align: center;
        }

        ol,
        ul {
            list-style-position: inside;
            padding: 0 20px;

            & > li {
                margin: 20px auto 0;
            }
        }
    }
}

.links {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0;

    & * {
        margin: 0;
    }
}
