---
import Github from "@assets/icons/github.astro";
import Linkedin from "@assets/icons/linkedin.astro";
import Email from "@assets/icons/email.astro";
import ContainerHover from "@components/ContainerHover.astro";
---

<div
    class="flex flex-col gap-2 justify-center items-center pt-4 border-t border-zinc-700"
>
    <div class="flex flex-row gap-2 items-center">
        <ContainerHover link="mailto:araza@clemson.edu">
            <Email />
        </ContainerHover>
        <span class="pointer-events-none">&bull;</span>
        <ContainerHover link="https://linkedin.com/in/ahmer-raza-8b1982312">
            <Linkedin />
        </ContainerHover>
        <span class="pointer-events-none">&bull;</span>
        <ContainerHover link="https://github.com/ahmrr">
            <Github />
        </ContainerHover>
    </div>
    <span class="text-zinc-600 dark:text-zinc-400">&copy; Ahmer Raza 2025</span>
</div>
