@import "base";

.util {
    &__p-0 {
        padding: 0;
    }
    &__m-0 {
        margin: 0;
    }
    &__flex {
        display: flex;
    }
    &__flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container {
    &__profile {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-bottom: 64px;
        @media (max-width: $laptop) {
            flex-direction: column;
        }
    }
    // & > :not(.img__profile) {
    //     display: flex;
    //     @media (max-width: $bigmobile) {
    //         flex-grow: 1;
    //         flex-shrink: 0;
    //     }
    // }
}

.img {
    &__inline {
        display: inline-block;

        height: 28px;
        width: 28px;

        color: $chalk;
    }
    &__profile {
        display: flex;
        align-self: flex-start;
        // float: left;

        min-width: 0px;
        max-width: 256px;
        // flex-grow: 0;
        width: auto;
        height: auto;
        flex-shrink: 1;
        // height: 150px;

        // border: 2px solid $slate;
        border-radius: 8px;
        // $bigmobile
        @media (max-width: $laptop) {
            margin: 0 auto;
            // flex-basis: 0px;
            // flex-grow: 0;
            // flex-shrink: 1;
            // align-self: auto;
        }
    }
}

.media {
    &__panel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        user-select: none;
    }
    &__button {
        display: flex;
        width: fit-content;
        height: fit-content;
        padding: 10px;

        border-radius: 50%;
        background: $deepblue;

        cursor: pointer;
        transition: ease 0.2s;

        &:hover {
            transform: rotate(360deg);
            border-radius: 50%;
        }
    }
}

.text {
    margin: 0;
}

.link {
    &__skip {
        position: absolute;
        top: -40px;
        left: 0;

        background: transparent;
        z-index: 999;
        &:focus {
            top: 0;
        }
    }
}

.posts {
    &__list {
        line-height: 2;
        list-style-type: none;
        padding-left: 0;
        & li {
            padding-bottom: 0.1rem;
            display: flex;
            align-items: baseline;
        }
    }
}

.header {
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        align-items: center;
        margin-bottom: 16px;
        @media (max-width: $bigtablet) {
            flex-direction: column;
        }
    }
    &__title {
        font-size: xxx-large;
    }
}

@keyframes progress {
}

.progress {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        user-select: none;
    }
    &__element {
        visibility: hidden;
        height: 0;
        width: 0;
    }
}

#led {
    width: 128px;
    height: 128px;
    position: relative;
    overflow: visible;
    display: flex;
    margin: 64px auto;
    scale: 1.5;
}

#led::before {
    content: url("/svg/lightbulb.svg");
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    // animation: ledBefore 1s infinite;
    opacity: 1;
}

#led::after {
    content: url("/svg/lit-lightbulb.svg");
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    // animation: ledAfter 1s infinite;
    opacity: 0;
}

#led:hover {
    cursor: pointer;
}

#led:hover::before {
    opacity: 0;
}

#led:hover::after {
    opacity: 1;
}

// @keyframes ledBefore {
//     0%,
//     49% {
//         opacity: 0;
//     }

//     50%,
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes ledAfter {
//     0%,
//     49% {
//         opacity: 1;
//     }

//     50%,
//     100% {
//         opacity: 0;
//     }
// }
