---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.astro";
import ProfileSection from "@components/section/ProfileSection.astro";
import AboutSection from "@components/section/AboutSection.astro";
import ProjectsSection from "@components/section/ProjectsSection.astro";
import SkillsSection from "@components/section/SkillsSection.astro";
import FinalSection from "@components/section/FinalSection.astro";
---

<Layout title="Ahmer Raza">
    <div
        class="min-w-[535px] max-w-screen-md mx-auto py-16 px-8 dark:selection:bg-gray-600 dark:selection:text-white"
    >
        <header>
            <Navbar />
            <ProfileSection />
        </header>
        <main>
            <AboutSection />
            <ProjectsSection />
            <!-- <SkillsSection /> -->
        </main>
        <footer>
            <FinalSection />
        </footer>
    </div>
</Layout>
