<section class="my-20">
    <h2 class="text-2xl font-semibold mb-1">About</h2>
    <hr class="mb-4 border-zinc-600" />
    <p
        class="leading-8 text-lg text-pretty mb-3 text-zinc-600 dark:text-zinc-400"
    >
        I graduated with a Bachelor’s degree in Computer Science at Clemson
        University in May 2024. I love making, learning, and doing stuff. I
        enjoy all things CS, including (but not exclusively) full-stack web
        development, microcontroller/microprocessor programming, FPGA
        programming, circuit design, plenty of things related to linear algebra
        (like robot kinematics and computer graphics), and so much more.
    </p>
    <p
        class="leading-8 text-lg text-pretty mb-3 text-zinc-600 dark:text-zinc-400"
    >
        During my undergraduate studies, I conducted Honors thesis research in
        Cybersecurity under Dr. Zhenkai Zhang. My research generally focuses on
        computer systems security; in Summer/Fall 2023, I worked on a project
        evaluating the feasibility of bit disturbance error attacks, such as
        Rowhammer and RowPress, launched from discrete GPUs. Since Spring 2024,
        I have been working on an extension of my Honors thesis project that
        involves developing a secure ECU hardware platform for automotive
        vehicles, which uses FPGA-based RISC-V Rocket CPU cores and the Keystone
        TEE platform.
    </p>
    <p
        class="leading-8 text-lg text-pretty mb-3 text-zinc-600 dark:text-zinc-400"
    >
        In Spring 2024, I also (as part of a team) led development of a robot
        that won 1st place among 50+ universities in the IEEE SoutheastCon 2024
        Hardware Competition! My work on this robot has taught me a lot about
        microcontrollers, and has allowed me to apply circuit design skills I
        learned prior.
    </p>
    <p class="leading-8 text-lg text-pretty text-zinc-600 dark:text-zinc-400">
        Aside from my current automotive security research, I am undertaking a
        Master’s degree in Math at Clemson, which I expect to finish in August
        2025. As part of the degree, I am conducting research at the
        intersection of statistics and differential privacy, co-advised by Dr.
        Rafael G. L. D’Oliveira and Dr. Christopher McMahan.
    </p>
</section>
