---
import ProjectCard from "@components/ProjectCard.astro";
import ConstructionLine from "@components/ConstructionLine.astro";
import Latex from "@components/mini/Latex.astro";
---

<section class="my-20">
    <h2 class="text-2xl font-semibold mb-2">Featured Projects</h2>
    <hr class="mb-6 border-zinc-600" />

    <ProjectCard
        projectTitle="Private and Efficient Surveillance using Sample Pooling"
        projectDescription="Sample pooling is simultaneously cost-effective, statistically efficient, and private! We explore the privacy-utility tradeoffs of sample pooling and uncover surprising results about its privacy guarantees and estimation efficiency. We introduce a theoretical framework for designing optimal experiments, which has many practical applications in real-world disease surveillance."
        projectLink=""
        image="/images/privacy_optimality.min.png"
    />

    <ProjectCard
        projectTitle="Large-Scale Hawkes Process Modeling of Social Media Data"
        projectDescription="Hawkes processes are flexible, interpretable, and can capture sophisticated interactions, but severely suffer from scaling. We look at novel theoretical and practical optimizations that enable fitting a multivariate Hawkes process model on massive and rich social media data. We also provide a feature-rich, open-source, optimized Hawkes process library."
        projectLink=""
        image="/images/event_data_1.min.png"
    />
</section>
