<footer>
    {{/* {{ if .IsHome }} */}}
    <span onclick="location.href = '/about';" id="led"></span>
    <div class="media__panel">
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="mailto:ahhmerrr.dev@gmail.com"
            class="media__button"
        >
            {{ partial "svg.html" "envelope" }}
        </a>
        &bull;
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/ahmrr"
            class="media__button"
        >
            {{ partial "svg.html" "github" }}
        </a>
        &bull;
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/in/ahmer-raza-8b1982312/"
            class="media__button"
        >
            {{ partial "svg.html" "linkedin" }}
        </a>
    </div>
    {{/* {{ end }} */}}
    <p>&copy; Ahmer Raza {{ now.Year }}</p>
</footer>
